body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: grey;
}

form {
  text-align: center;
}


#boggle_board input {
  height: 70px;
  font-size: x-large;
  width: 70px;
  touch-action: manipulation;
  text-align: center;
}

#working_entry {
  height: 50px;
  width: 300px;
  text-align: center;
}

#results_table {
  font-size: x-large;
}

.result_section {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: black;
}

.result_section td {
  padding-right: 5px;
  padding-left: 10px;
}

.result_row {
  border: 1px solid black;
}

.result_row td {
  padding-right: 5px;
  padding-left: 10px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  z-index: 2;
  cursor: pointer;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.selected_input {
  background-color: green;
}

.game_hud {
  text-align: center;
}

.illegal_selection {
  background-color: red;
}

.submit_success {
  background-color: #28a745;
}

.submit_fail {
  background-color: red;
}

.game_controls {
  height: 75px;
  width: 150px;
  text-align: center;
}

.word_points {
  text-align: center;
}

.dot_green {
  height: 25px;
  width: 25px;
  background-color: #52f408;
  border-radius: 50%;
  display: inline-block;
}

.dot_red {
  height: 25px;
  width: 25px;
  background-color: #f40808;
  border-radius: 50%;
  display: inline-block;
}


@media screen and (min-width: 365px) {
  #boggle_board input {
    height: 85px;
    font-size: xx-large;
    width: 85px;
    touch-action: manipulation;
    text-align: center;
  }
}
